body{
    display: flex;
}

.caja{
    background-color: lightgray;
    box-shadow: 0px 1px 3px;
    margin: 10%;
    margin-left: 15%;
    padding: 5px 10px;
    text-align: center;
}

.caja:hover{
    transform: scale(1.20);
}

h6{
    display: block;
    margin: 5px;
}

#num{
    color: blue;
}

#boton{
    background-color: blue;
    color: white;
    padding: 10px;
    border-radius: 10%;
}