body{
    overflow: hidden;
    padding: 0;

}

.caja1{
    background-color: #1abc9c;
    color: white;
    flex: 1;
}
.caja2{
    background-color: #3599db; 
    color: white;
    flex: 2;
}
.caja3{
    background-color: #9a58b6;
    color: white;
    flex: 1;
}
.caja4{
    background-color: #34485f;
    color: white;
    flex: 1;
}
.caja5{
    background-color: #f1c40f;
    color: white;
    flex: 3;
}
.caja6{
    background-color: #e77f22;
    color: white;
    flex: 1;
}
.grid{
    display: flex;   
    border: 2px red solid;
    height: 5vh;
    flex-flow: row wrap;
    width: 100%;
    box-sizing: border-box;
}
.pos{
    font-size: 15px;
    width: auto;
    text-align: center;
}